* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    
}

header {
    background-color: #b45c5c;
    padding: 10px 20px; /* Adicionando espaçamento no topo e nas laterais */
    display: flex;
    align-items: center; /* Alinha todos os itens verticalmente */
    justify-content: flex-start; /* Garante que os itens comecem da esquerda */
    height: 100px; /* Define a altura do cabeçalho */
    border-bottom: 1px solid #ddd; /* Borda para separar o cabeçalho */
}
header h1 {
    font-size: 2.5rem;
    margin-left: 20px; /* Ajuste para o título não ficar muito próximo do logo */
    flex-grow: 1; /* Faz com que o título ocupe o restante do espaço */
    color: white;
    font-size: 18px;
}

.logo {
    height: 100%; /* Logo ocupa toda a altura do cabeçalho */
    width: auto; /* Mantém as proporções da imagem */
    max-height: 80px; /* Limita a altura máxima da logo */
    margin-right: 20px; /* Dá espaço entre a logo e o título */
    transform: scale(1.1);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 40px 0;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

section p {
    font-size: 1.1rem;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin-left: 20px;
}

ul li {
    margin: 10px 0;
}

footer {
    background-color: #de6e6e;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 1rem;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    section h2 {
        font-size: 1.8rem;
    }

    section p {
        font-size: 1rem;
    }
}
